.acontainer{
    width:90%;
    min-height: 800px;
    height: 100%;
    background-color:lightblue;
    margin:50px auto;
    z-index: -10;
    padding:10px;
}
.testdiv{
    width:200px;
    height:200px;
    background-color: white;
    position: relative;
}

.drag-section{
    cursor:move;
    border:solid 1px orangered;
    position: relative;
}
.dragblock{
    width:4px;
    height:4px;
    border:solid 1px black;
    position: absolute;
}
.nw-dragblock{
    cursor: nw-resize;
    left: -4px;
    top: -4px;
}
.n-dragblock{
    cursor: n-resize;
    left: 50%;
    top: -4px;
}
.ne-dragblock{
    cursor: ne-resize;
    right: -4px;
    top:-4px;
}
.w-dragblock{
    cursor: n-resize;
    top: 50%;
    left:-4px;
}
.sw-dragblock{
    cursor: sw-resize;
    left: -4px;
    bottom:-4px;
}
.s-dragblock{
    cursor: s-resize;
    left: 50%;
    bottom: -4px;
}
.se-dragblock{
    cursor: se-resize;
    right: -4px;
    bottom: -4px;
}
.e-dragblock{
    cursor: e-resize;
    top: 50%;
    right: -4px;
}